<div style="font-size: 0.875rem; color: #6b7280; text-align: center;">
      <a href="https://slackhq.com" style="text-decoration: underline; color: inherit;">Our blog</a>
      &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
      <a href="https://slack.com/legal" style="text-decoration: underline; color: inherit;">Policies</a>
      &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
      <a href="https://slack.com/help" style="text-decoration: underline; color: inherit;">Help center</a>
      &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
      <a href="https://slack.com/community" style="text-decoration: underline; color: inherit;">Slack Community</a>
    </div>

    <p style="font-size: 0.75rem; color: #9ca3af; margin-top: 1rem; text-align: center;">
      ©2022 Slack Technologies, LLC, a Salesforce company. <br />
      500 Howard Street, San Francisco, CA 94105, USA <br /><br />
      All rights reserved.
    </p>

  </div>
</body>

</html>
