<!DOCTYPE html>
<html lang="en" xmlns:v="urn:schemas-microsoft-com:vml">

<head>
  <meta charset="utf-8">
  <meta name="x-apple-disable-message-reformatting">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no, date=no, address=no, email=no">
  <meta http-equiv="Content-Type" content="text/html charset=UTF-8">
  <meta name="color-scheme" content="light dark">
  <meta name="supported-color-schemes" content="light dark">
  <title>{{pageTitle}}</title>
  <style>
    .hover-bg-blue-600:hover {
      background-color: #2563eb !important;
    }
    .hover-underline:hover {
      text-decoration: underline !important;
    }
    @media (max-width: 600px) {
      .sm-w-full {
        width: 100% !important;
      }
      .sm-px-24 {
        padding-left: 24px !important;
        padding-right: 24px !important;
      }
    }
    @media (prefers-color-scheme: dark) {
      .dark-mode-bg-gray-999 {
        background-color: #1b1c1e !important;
      }
      .dark-mode-bg-gray-989 {
        background-color: #2d2d2d !important;
      }
      .dark-mode-text-white {
        color: #ffffff !important;
      }
    }
  </style>
</head>
