{{> header}}
<body style="margin: 0; padding: 0; word-break: break-word; -webkit-font-smoothing: antialiased; background-color: #f3f4f6;"></body>
 <div role="article" aria-roledescription="email" aria-label="Confirm your email address" lang="en" style="max-width: 42rem; margin: 0 auto; padding: 1rem;">

    <div style="margin-top: 2rem;">
      <img src="https://docs.mailpace.com/img/logo.png" width="120" height="36" alt="Slack" style="margin-bottom: 2rem;" />
    </div>

    <h1 style="font-size: 1.875rem; font-weight: 700; color: #1F2937; margin-bottom: 1.5rem;">
      Welcome to Escrow Bet
    </h1>

    <p style="font-size: 1.25rem; margin-bottom: 1.5rem;">
      You are welcome to this beautiful app, we are happy to have you on board.
    </p>

    <p style="font-size: 0.875rem; color: #4B5563; margin-bottom: 2rem;">
      Explore the app and review us on app store.
    </p>
{{> footer}}
